<div class="tree-posts">

    <h3>Codoms</h3>

    <div class="rectangle" id="add-your-language">
        <p><a href="{{ '/contribute' | prepend: site.baseurl }}"><i class="fa fa-plus" aria-hidden="true"> Add your language</i></a></p>
    </div>

    <h3>Filter by language</h3>

    {% assign practices = site.practices  %}
    {% assign languages = practices[1].language %}

    {% for practice in practices %}
        {% unless languages contains practice.language %}
            {% capture languages %}{{ languages }}|{{ practice.language }}{% endcapture %}
        {% endunless %}
    {% endfor %}

    {% assign languages = languages | split: '|' %}

    <div>
        <ul>
            {% for language in languages %}
                {% for language_page in site.pages %}

                    {% if language_page.language == language %}
                        <a data-scroll href="{{ language_page.url | prepend: site.baseurl }}" class="{% if page.language == language_page.language %}selected{% endif %}">{{ language_page.title }}</a>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </ul>
    </div>

</div>
