<aside>

    <h1>
        <object data="/assets/img/logo-codoms.svg" type="image/svg+xml">
            <img src="/assets/img/logo-codoms.png" />
        </object>

        <span>Codoms</span>
    </h1>

    {% assign variants=site.practices | where:"title", page.title | sort: 'language' %}

    <div>
        <ul class='languages'>
            <h2>Variants</h2>

            {% for post in variants %}

                {% if post != page %}
                    <li>
                        <a title="Open the post" href="{{ post.url | prepend: site.baseurl }}">
                            <i class="fa fa-fw icon-{{post.language}}" aria-hidden="true"></i> {{ post.title }}
                        </a>
                    </li>
                {% endif %}

            {% endfor %}

            <li class='contribute'>
                <a title="Contribute" href="{{ '/contribute' | prepend: site.baseurl }}">
                    Add your language
                </a>
            </li>
        </ul>
    </div>


    {% include aside_footer.html %}
</aside>
