<div class="tree-posts">

    <h3>*Variants*</h3>

    {% assign variants=site.practices | where:"title", page.title | sort: 'language' %}

    {% for post in variants %}

    <article role="article" class="post-item">
        <div class="content">
            <a title="Open the post" href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title" itemprop="name"><i class="icon-{{post.language}}"></i> {{ post.title }}</h2>
            </a>
        </div>
    </article>

    {% endfor %}

    <article role="article" class="post-item">
        <div class="content">
            <a title="Contribute" href="{{ '/contribute' | prepend: site.baseurl }}">
                <h2 class="post-title" itemprop="name"><i class="icon-{{post.language}}"></i> Add your language</h2>
            </a>
        </div>
    </article>



</div>
