*, *:before, *:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

body
  left 0
  right 0
  margin auto

a, aside, .overlay, body
    transition all .25s ease
a.slideButton, .dosearch
    position absolute
    display block
    width 40px
    height 40px
    top 10px
    z-index 31
.slideButton
    left 10px
.dosearch
    right 10px
    background accent_color
    border-radius rem(3px)
    padding rem(2px) rem(3px)
.icon-menu
    cursor pointer
    padding rem(5px)
    border-radius rem(3px)
    background accent_color
    width rem(40px)
    height rem(40px)
    fill sec
.icon-search
    width rem(35px)
    height rem(35px)

.overlay
    cursor pointer

#close
    display none

body > aside
    padding rem(43px)
    width rem(347px)
    height 100%
    position fixed
    background-color aside_color
    overflow-y auto
    top 0
    +below(rem(1450px))
        display none

    a
      text-decoration none

    h1
        text-transform uppercase
        font-size rem(26px)
        display table

        & > *
            display table-cell
            vertical-align middle

        & > object
            margin-right rem(10px)

    p.license
        position fixed
        bottom rem(40px)
        color lightGray
        width rem(200px)

        .creativecommons
            display block
            margin-bottom rem(20px)
        i.fa-heart
            color: #ee7373

        a
            color lightGray
            text-decoration none
            &:hover
                color accent_color

    ul.languages
        list-style none
        margin-left 0
        padding-left 0
        margin-top rem(40px)

        h2
            color #9a9a9a
            font-size rem(14px)
            text-transform uppercase
            font-weight bold

        li
            line-height rem(30px)
        a
            text-decoration none
            color lightGray
            &.selected
              color gray

        li.contribute
            margin-top rem(10px)
            a
                color accent_color

a.slideButton.slide
    pointer-events none

.overlay
    position fixed
    width 100%
    height 100%
    bottom 0
    left 0
    pointer-events none
    background transparent
    z-index 30
    &.slide
        pointer-events auto
        bottom 162px
        background rgba(0,0,0,.6)
