.page_posts
    #search
       background transparent
       svg
           background-color transparent
.post-item
    text-align left
    padding rem(5px) rem(20px)
    position relative
    .content
        cf();
        +below(cut)
            text-align center
            stack()
        a
            +above(cut)
                col(4.2/6)
            text-decoration none
            border none
        .date
            color main
        .post-title
            color #c7b288
            position relative
            padding 0
            font-size rem(16px)
            margin 0
            text-align center
            &.selected
                background main
            &:hover
                background-color mainHover
            +above(cut)
                text-align left
                margin-left rem(-10px)
                display initial
                font-size rem(17px)
                text-decoration none
