// COLORS
main = #93a1a1;
mainHover = lighten(main, 10%)
hover = darken(main, 50%)
mainLight = #AB67AB
sec  = #FFFFFF
texts = #333333
colorcode = #615576
blackBase =  #073642
neotree = #073642

aside_color = #f8f8f8
white = #ffffff
gray = #333333
lightGray = #ababab

heroe_fg = #777088
accent_color = #74479c
// Resolution
cut = 37.5rem
