<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}

        <header class="header-post">
        </header>

        {% include tree-posts.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>


            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {% assign dirname = page.path | split: '/' | pop | join: '/' %}
                <p><a href="{{ site.github_url | append:'/tree/master/' | append:dirname | append:'/_' | append:page.language }}">All code examples are available here.</a><p>

                {{ content }}

                <p>
                  <a href="{{ site.github_url }}/edit/master/{{ page.relative_path }}">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    Edit this page on Github
                  </a>
                </p>
            </article>

            {% include share.html %}
            {% include scripts.html %}
        </section>
    </body>
</html>
