<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        {% include tree-posts.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>


            {% assign dirname = page.path | split: '/' | pop | join: '/' %}
            <h3><a href="{{ site.github_url | append:'/tree/master/' | append:dirname | append:'/_' | append:page.language }}">All code examples are available there</a>.</h3>

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include footer.html %}
            {% include scripts.html %}
        </section>
    </body>
</html>
